.menu-card-empty{
  width: 300px;
  margin:7px;
  padding:20px;
}

.meal-type-card{
  padding:2px !important;
  margin:10px;
  //min-width: : 250px;
}

.menu-card[_ngcontent-fty-c15] {
    margin: 0px;
}
