<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item, drawer)"
   [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
   class="menu-list-item">
  <mat-icon *ngIf = "item.matIcon" class="routeIcon">{{item.iconName}}</mat-icon>
  <img *ngIf = "item.pngIcon" class="cat-icon" [src]="item.iconName">
  {{item.displayName}}
  <div class = "badge" *ngIf="item.closed">closed</div>
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon style="margin-top:8px"  [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.children" [item]="child" [drawer] = "drawer" [isToggleEnabled] = "isToggleEnabled" [depth]="depth+1">
  </app-menu-list-item>
</div>
